* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Verdana, Georgia, "Times New Roman", Times, serif, Arial,
        Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

#main {
    margin: 2rem auto;
}

#main-heading {
    margin-left: 35%;
    margin-top: 20%;
    font-size: 4rem;
}

#main-heading span {
    font-size: 5rem;
    color: #e91b1b;
    font-style: italic;
    font-weight: 800;
}
